
.bex-cards {
    display: grid;
    
    grid-gap: 20px;
    grid-template-columns: 1fr 1fr 1fr 1fr;

    padding: 20px;
    border-top: 1px solid #D7DBDD;
}

.bex-cards>.no-data {
    font-size: 13px;
    text-align: center;
    grid-column: span 5;
}

.bex-card {
    display: block;
    position: relative;

    border: 1px solid #D7DBDD;
    background-color: #fff;
    overflow: hidden;

    text-decoration: none !important;
    color: #666 !important;
}

.bex-card:hover {
    box-shadow: 0 0 0 2px #4ea5e0;
    border-color: #4ea5e0 !important; /* color from backend customization */
}

.bex-card.selected {
    box-shadow: 0 0 0 3px #E67E22;
    border-color: #E67E22 !important;
}

.bex-card>img {
    object-fit: cover;
    width: 100%;
    height: 200px;
    max-height: 365px;
}

.bex-card-info {
    padding: 15px;
    border-top: 1px solid #D7DBDD;
}

.bex-card-info>h3 {
    font-size: 14px;
    font-weight: 500;
    margin-top: 0;
    margin-bottom: 0;
}

.bex-card-info>div {
    font-size: 13px;
    margin: 0;
    margin-top: 1rem;
}

.bex-card-actions {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    background-color: rgba(255,255,255, 0);

    transition: background-color ease .01s .1s;
}

.bex-card-actions:hover, .bex-card.selected .bex-card-actions {
    background-color: rgba(255,255,255, .75);
}

.bex-card-actions>button {
    color: rgba(33,33,33,.75);

    z-index: 1;
    top: 0;

    background: none;
    border: none;
    outline: none;
}

.bex-card-actions>.bex-select:hover {
    color: #e67e22;
}

.selected .bex-card-actions>.bex-select {
    color: #fff;
    background-color: #E67E22;
}
